@media (max-width: 600px) {
    .hamburger-container {
        padding: 10px;
        border-radius: 10px;
      }
      
      .bar1,
      .bar2,
      .bar3 {
        width: 35px;
        height: 4px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
      }
      
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
      }
      
      .change .bar2 {
        opacity: 0;
      }
      
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }
      
      .nav-ul-menu {
        display: none;
        background-color: #fafafa;
        position: absolute;
        overflow: hidden;
        right: 0;
        top: 80px;
        width: 100%;
        text-align: center;
        z-index: 10;
      }
      
      .show {
        display: block;
      }
      
      .nav-ul-menu li {
        display: block;
        font-size: 1.8em;
        padding: 15px 25px;
        letter-spacing: 1.5px;
        color: #fff;
        border: 0.01em solid #dbdbdb;
      }
      
      .nav-ul-menu li a {
          color: rgb(97, 97, 97);
      }
}

@media (min-width: 601px) {
    .nav-ul-menu {
        display: none;
    }
}