///////////////////////////////////////////////////// Profile /////////////////////////////////////////////////////

.profile-image-div {
    min-height: inherit;
    min-width: inherit;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 6em;
        letter-spacing: 2px;
        font-weight: 400;
        margin-top: 30px;
        color: rgb(39, 39, 39);
        border-bottom: none;
        background-color: rgba(218, 218, 218, 0.45);
        border-radius: 3px;
        padding: 12px 5px;
    }
}

.profile-image-div::after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../Style/fuchs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    opacity : 0.7;
    z-index: -1;
}

.profile-buttons-div {
    width: 80%;
    position: absolute;
    top: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .submit-btn-profile {
        padding: 20px;
        font-size: 1.6em;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 400;
        color: rgb(31, 31, 31);
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
    }

    .submit-btn-profile:hover {
        background-color: rgb(31, 31, 31);
        box-shadow: 0px 15px 20px rgba(31, 31, 31, 0.4);
        color: #fff;
        transform: translateY(-7px);
    }
    
}

///////////////////////////////////////////////////// Share spot /////////////////////////////////////////////////////

.create-spot-container {
    min-width: inherit;
    min-height: inherit;
    background-color: rgba(218, 218, 218, 0.651);
    display: flex;
    padding: 5% 0;
}

.form-container-create-spot {
    width: 50%;
    height: 80%;
    padding: 30px 0 50px 0;
    border-right: 1px solid black;
    
    form {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .form-input-file{
        width: 65%;
        padding: 10px;
        margin: 15px 0;
        box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
        background: #fff;
        border: none;
    }
}

.rules-div {
    width: 50%;
    text-align: center;
    padding: 0 50px;

    h2 {
        font-size: 4em;
        margin: 30px 0 50px 0;
    }

    ul{
        margin: 10px 0;
        li{
            text-align: left;
            font-size: 1.7em;
            line-height: 1.2em;
            margin: 10px 0;
            list-style-type: disc;
        }
    }
}

.crop-div {
    margin-top: 40px;
    width: 100%;
}

@media (min-width:1024px) and (max-width: 1440px) {
    .profile-image-div {    
        h1 {
            font-size: 5em;
        }
    }
}

@media (max-width: 600px) {
    .profile-image-div {
        min-height: inherit;
        min-width: inherit;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    
        h1 {
            font-size: 4em;
            letter-spacing: 2px;
            font-weight: 400;
            margin-top: 30px;
            color: rgb(39, 39, 39);
            border-bottom: none;
            padding: 10px 0;
            text-align: center;
            background-color: rgba(218, 218, 218, 0.4);
            border-radius: 3px;
        }
    }

    .profile-buttons-div {
        width: 100%;
        margin-top: 20px;
        position: static;
        flex-direction: column;
    
        .submit-btn-profile {
            padding: 15px 20px;
            margin: 12px;
            font-size: 1.6em;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 400;
            border-radius: 45px;
        }
    
        .submit-btn-profile:hover {
            background-color: rgb(31, 31, 31);
            box-shadow: 0px 15px 20px rgba(31, 31, 31, 0.4);
            color: #fff;
            transform: translateY(-7px);
        }
        
    }
    


    .create-spot-container {
        min-width: inherit;
        min-height: inherit;
        display: flex;
        padding: 5% 0;
        flex-direction: column;
        align-items: center;
    }
    
    .form-container-create-spot {
        width: 100%;
        height: 80%;
        padding: 30px 0 50px 0;
        border-right: none;
        order: 1;
        
        form {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
        }
    
        .form-input-file{
            width: 65%;
            padding: 10px;
            margin: 15px 0;
            box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
            background: #fff;
            border: none;
        }
    }
    
    .rules-div {
        width: 90%;
        text-align: center;
        padding: 0px 20px;
        border-bottom: 1px solid black;
    
        h2 {
            font-size: 4em;
            margin: 30px 0 50px 0;
        }
    
        ul{
            margin: 10px 0 35px 0;
        }
    }
}

@media (min-width: 601px) and (max-width: 1023px) {
    .profile-image-div {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    
        h1 {
            font-size: 4.5em;
            margin-top: 30px;
            color: rgb(39, 39, 39);
            border-bottom: none;
            padding: 15px 10px;
            text-align: center;
            background-color: rgba(218, 218, 218, 0.4);
            border-radius: 3px;
        }
    }

    .profile-buttons-div {
        width: 100%;
        margin-top: 40px;
        position: static;
        flex-direction: column;
    
        .submit-btn-profile {
            padding: 15px 20px;
            margin: 25px;
            font-size: 1.6em;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 400;
            border-radius: 45px;
        }
    }
}